@model App.Models.Angajati

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Angajati</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nume" class="control-label"></label>
                <input asp-for="Nume" class="form-control" />
                <span asp-validation-for="Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenume" class="control-label"></label>
                <input asp-for="Prenume" class="form-control" />
                <span asp-validation-for="Prenume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumarTelefon" class="control-label"></label>
                <input asp-for="NumarTelefon" class="form-control" />
                <span asp-validation-for="NumarTelefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDepartament" class="control-label"></label>
                <select asp-for="IdDepartament" class="form-control" asp-items="ViewBag.IdDepartament"></select>
                <span asp-validation-for="IdDepartament" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataAngajari" class="control-label"></label>
                <input asp-for="DataAngajari" class="form-control" />
                <span asp-validation-for="DataAngajari" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdFunctia" class="control-label"></label>
                <select asp-for="IdFunctia" class="form-control" asp-items="ViewBag.IdFunctia"></select>
                <span asp-validation-for="IdFunctia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
